.header__container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 50px;
    line-height: 70px;
    background-color: white;
}

.header__logout {
    padding: 5px 10px 5px 10px;
    background-color: #5DBCD2;
    border-radius: 10px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in;
    margin-left: 20px;  

    &:hover {
        background-color:rgb(73, 151, 168) 
    }
}

.header__user {
    display: inline-block;

    & input {
        padding: 5px;
        outline: none;

        &:first-child {
            margin-right: 10px;
        }
    }
}