<div class="header__container">
    <app-logo></app-logo>
    <div class="header__login-info">
        <div class="header__user" *ngIf="isAuthenticated | async">
            {{user.firstName}}
            {{user.lastName}}
            <button
                type="button" 
                class="header__logout"
                (click)="logout()"
                >Logout
            </button>
        </div>
    </div>
</div>



