.courses-page {

    &__container {
    width: 1024px;
    margin: auto;
    background-color: #F8F9FB;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    &__content {
    background-color: rgb(230, 231, 231);
    flex: 1 0 auto;
    padding-bottom: 20px;
    }

    &__no-data {
    display: block;
    text-align: center;
    margin-top: 30px;
    }
}

.tools__container {
    padding-top: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 90px;
}

.tools {
    display: flex;
    align-content: center;
}

.search {
    margin-right: 30px;
}

.footer__container {
    flex-shrink: 0;
}