<div class="courses-page__container">
    <div class="courses-page__content">
        <app-header></app-header>
        <div class="tools__container">
            <app-breadcrumbs></app-breadcrumbs>
            <div class="tools">
                <app-search
                    class="search"
                    (makeSearchQuery)="search($event)"
                ></app-search>
                <app-add-course></app-add-course>
            </div>
        </div>
        <app-courses-list
            [coursesList]="filteredCoursesList"
            (deleteCourse)="openModal($event)">
        </app-courses-list>
        <app-load-more-button *ngIf="!(filteredCoursesList.length === 0)" ></app-load-more-button>
        <div *ngIf="filteredCoursesList.length === 0">
            <span class="courses-page__no-data">{{noDataMessage | uppercase}}</span>
        </div>
    </div>
    <app-footer class="footer__container"></app-footer>
</div>
<app-confirmation-modal
    *ngIf="isModalOpen"
    (confirmAction)=handleModalResponse($event)
></app-confirmation-modal>
