.add-course__button {
    padding: 10px 15px 10px 25px;
    background-color: #5DBCD2;
    border-radius: 15px;
    color: white;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in;
    top: -10px;

    &:hover {
        background-color:rgb(73, 151, 168) 
    }
}

.add-course__plus-icon {
    display: inline-block;
    position: absolute;
    height: 12px;
    width: 12px;
    left: 9px;
    top: 11px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: white;
    }

    &::before {
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        margin-left: -1px;
    }

    &::after{
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: -1px;
    }
}