.load-more  {
    
    &__container {
    text-align: center;
    }

    &__button {
        padding: 10px 20px;
        background-color: #5DBCD2;
        border-radius: 5px;
        color: white;
        margin-right: 15px;
        outline: none;
        // width: 60px;
        cursor: pointer;

        &:hover {
            background-color:rgb(73, 151, 168);
        }
    }
}
