.course {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    transform: scale(1);
    transition: .2s ease-in-out;

    &__image-container {
        height: 50%;
        overflow: hidden;
    }

    &__image-item {
        height: 175px;
        width: 250px;
    }

    &__body {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 10px;
        box-sizing: border-box;
    }

    &__title {
        margin: 0;

        & .fa-star.fa-star_golden {
            color: gold;
        }
    }

    &__duration {
        display: block;
        padding: 2px 10px;
        background-color: #5DBCD2;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.8rem;
        min-width: 70px;
    }

    &:hover {
        transform: scale(1.05);
        transition: .2s ease-in-out;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__button {
        padding: 5px 10px;
        background-color: #5DBCD2;
        border-radius: 5px;
        color: white;
        margin-right: 15px;
        outline: none;
        width: 60px;
        cursor: pointer;

        &:hover {
            background-color:rgb(73, 151, 168);
        }
    }
}

