.courses {
    margin: auto;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 auto;
    
    &::after {
        content: "";
        width: 31%;
      }
}