<div class="courses">
    <app-courses-list-item 
        *ngFor="let course of coursesList" 
        [course]="course"
        (deleteCourse)="delete(course)"
        class="courses__list"
    ></app-courses-list-item>
</div>
  

