.modal {
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(56, 55, 55, 0.5);
        // z-index: 2;
    }

    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // margin: 0 auto;
        background-color: white;
        height: 220px;
        width: 600px;
        // padding: 20px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        background-color: gray;
        margin-top: 0;
        color: white;
        padding: 10px;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 180px;
    }

    &__text {
        text-align: center;
    }

    &__buttons {
        // display: flex;
        // justify-content: center;
        text-align: center;
    }

    &__button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        outline: none;

        &:active {
            transform: translateY(1px);
        }

        &:nth-child(2) {
            margin-left: 100px;
        }
    }
}