<ul class="breadcrumbs__list">
  <li class="breadcrumbs__item">
      <span class="breadcrumbs__text">Home</span>
    </li>
  <li class="breadcrumbs__item">
    <span class="breadcrumbs__text">Courses</span>
  </li>
</ul>