/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
    height: 100%;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.618;
  font-family: Sintony-Regular, sans-serif;
  background: gray;
  height: 100%;

  &.modal-open {
    overflow: hidden;
  }
}