.login-page {
    &__container {
    width: 1024px;
    margin: auto;
    background-color: #F8F9FB;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    &__content {
    background-color: rgb(230, 231, 231);
    flex: 1 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
}

.login {
    &__container {
        width: 400px;
        border: 1px solid black;
        border-radius: 5px;
        margin: auto;
        background: white;
    }

    &__header {
        margin: 0px;
        padding: 5px 10px;
        background-color: rgb(211, 208, 208);
    }

    &__form {
        margin: 20px;
    }

    &__input {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        outline: none;
        margin-bottom: 10px;
    }

    &__button {
        padding: 5px 10px 5px 10px;
        background-color: #5DBCD2;
        border-radius: 10px;
        color: white;
        outline: none;
        cursor: pointer;
        transition: .2s ease-in;
    
        &:hover {
            background-color:rgb(73, 151, 168) 
        }
    }
}